/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
	height: 100%;
}

body {
 	height: 100%;
	padding-top: 50px; /* navbar fixed at top 50px height, so body content should all go below it */
	text-align: center; /* center all items within body, this property is inherited */
}

/* Make navbar icon display at correct height */
.navbar-icon {
	margin: 5px;
	height: 40px;
	width: 40px;
}


/* use this to place buttons at right (for those green button) */
.button-right {
	display: inline;
	float: right;
	margin-left: 15px;;
}

/* use this to place buttons at left (for those green button) */
.button-left {
	display: inline;
	float: left;
	margin-right: 15px;;
}
#highlight-green {
	border-color:green;
	background-color:green;
}
#highlight-red {
	border-color:red;
	background-color:red;
}
form#change {
	/* make the search form and button centralized */
	display: inline-block;
	width: 60%;
}
.container {
	margin-top:25px;
}
#teaching-label, #corrections-label {
	float:left;
	margin-bottom:10px;
}
/**


**/

.dx {
  font-size: 1.5em;
}

/* Key diagnoses */
.key {
  color: green;
}

/* Categories */
.category {
  color: blue;
}

/* Page titles */
.section_title {
  font-size: 2em;
}

/* Case selection titles */
.selection_type {
  font-size: 1.75em;
}

/* Case selection columns */
.case-column {
  line-height: 1.6;
  padding-bottom: 30px;
}

/* Error message text */
.error {
  color: red;
}

div.case-column a, div.case-column a:visited {
    color: #333333 !important;
}

div.case-column a:hover, div.case-column a:active {
    color: #555555 !important;
    text-decoration: none !important;
}

.corrections-box {
  text-align:left;
  overflow:hidden;
}
.original-text {
  text-align:left;
 float:left; 
}
.correction-text {
  text-align:right;
  float:right;
  color:blue
  margin-bottom:0px;
}
.correction-stats {
  text-align:left;
}
#search-box {
  padding:6px 12px 30px 12px;
  margin-top:0px;
  margin-bottom:10px;
  height:250px;
  overflow:auto;
  color:#1d4851;
  font-family:Times New Roman, Times, serif;
  font-size:1em;
  line-height:1.6em;
  background:#ffffff;
  border:1px solid #8eb6d8;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;

}
.correct-categories {
	display: flex;
	font-size:1.5em;
}
strong {
	border-radius: 2px;
	font-weight: 400;
	padding: 0 0.3em;
	margin-right:0.1em;
	background-color: #428bca;
	color: #fff;
}
.key-strong {
	border-radius: 2px;
	font-weight: 400;
	padding: 0 0.3em;
	margin-right:0.1em;
	background-color: #5cb85c;
	color: #fff;
	font-weight: bold;
}

.back {
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
}

/** Bootstrap table background color for success **/
.success-dropdown {
	background-color: #dff0d8; 
}

/** Bootstrap table background color for info **/
.info-dropdown {
	background-color: #d9edf7; 
}

.navtext {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 10px;
	padding-left: 10px;
	color: #428bca;
}

#search-box-button {
	float:left;
	background-color: #99CCFF;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;

}
/* join the search button and seach from together part 1 */
#search-form {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
  }

/* join the search button and seach from together part 2 */
#search-button {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-left: 0px;
 	float: right;
	background-color: #99CCFF;

}

/* Set table header row color */
.table-striped > tbody > tr:nth-child(1) > td, .table-striped > tbody > tr:nth-child(1) > th {
	background-color: #99CCFF;
	outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 5px #9ecaed;
}

/* Set even table body row color */
.table-striped > tbody > tr:nth-child(2n+3) > td, .table-striped > tbody > tr:nth-child(2n+3) > th {
	background-color: #D1F0FF;
	outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 5px #9ecaed;
}

/* hover table row will highlight */
.table-striped > tbody > tr:hover > td {
	background-color: #428bca;
}

/* Anchors without this will overlap with the top navbar */
a.anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}

/* For graph page icon anchors */
.icon-anchor {
	display: block;
	font-size: 1vw;
	margin: 5px;
	padding: 15px;
	text-decoration: none;
}

/* Each anchor in graph pahe should show different color border when hovered */
#lineChartAnchor:hover {
	border: 2px solid orange;
	border-radius: 5px;
	text-decoration: none;
}
#pieChartAnchor:hover {
	border: 2px solid #5cb85c;
	border-radius: 5px;
	text-decoration: none;
}
#barChartAnchor:hover {
	border: 2px solid #5bc0de;
	border-radius: 5px;
	text-decoration: none;
}
