<!-- Append content in the head tag -->
<% content_for :for_head do %>
	<title>Search</title>
	<link href="/index_files/cornerstone.min.css" rel="stylesheet">
<% end %>

<!-- include the cornerstone library -->
<script src="/index_files/cornerstone.min.js"></script>
<script src="/index_files/cornerstoneMath.js"></script>
<script src="/index_files/cornerstoneTools.js"></script>

<!-- include the dicomParser library as the WADO image loader depends on it -->
<script src="/index_files/dicomParser.min.js"></script>

<!-- jpeg 2000 codec -->
<script src="/index_files/jpx.min.js"></script>

<!-- include the cornerstoneWADOImageLoader library -->
<script src="/index_files/cornerstoneWADOImageLoader.js"></script>

<div id="dicomImage" style="width:512px;height:512px;top:0px;left:0px;position:absolute"></div>

<div style="max-width: 1400px; position: absolute; bottom: 40%; left: 0; right: 0; margin: auto; max-height: 100%; height: auto;" >

	<!-- RAH logo -->
	<div style="margin: 0 auto; padding-bottom: 10px; max-width:100%; max-height:100%;">
		<img src="/assets/logo2.gif" style="max-width: 10%; height: auto;" />
	</div>

	<!-- search form and button -->
	<form class="form-group form-group-lg" action="/table" role="search">
		<input id="search-button" type="submit" class="btn btn-default btn-lg" value="Search" />
		<div style="overflow: hidden;" >
			<input id="search-form" name="q" type="text" class="form-control" placeholder="Search" required pattern=".*\S+.*" autofocus>
		</div>
	</form>

</div>

<script>
	cornerstoneWADOImageLoader.configure({
        	beforeSend: function(xhr) {
            		// Add custom headers here (e.g. auth tokens)
            		//xhr.setRequestHeader('x-auth-token', 'my auth token');
        	}
   	});
	var loaded = false;
    function loadAndViewImage(imageId) {
        var element = $('#dicomImage').get(0);
        //try {
            cornerstone.loadImage(imageId).then(function(image) {
                console.log(image);
                var viewport = cornerstone.getDefaultViewportForImage(element, image);
                $('#toggleModalityLUT').attr("checked",viewport.modalityLUT !== undefined);
                $('#toggleVOILUT').attr("checked",viewport.voiLUT !== undefined);
                cornerstone.displayImage(element, image, viewport);
                if(loaded === false) {
                    cornerstoneTools.mouseInput.enable(element);
                    cornerstoneTools.mouseWheelInput.enable(element);
                    cornerstoneTools.wwwc.activate(element, 1); // ww/wc is the default tool for left mouse button
                    cornerstoneTools.pan.activate(element, 2); // pan is the default tool for middle mouse button
                    cornerstoneTools.zoom.activate(element, 4); // zoom is the default tool for right mouse button
                    cornerstoneTools.zoomWheel.activate(element); // zoom is the default tool for middle mouse wheel
                    loaded = true;
                }
            }, function(err) {
                alert(err);
            });
        /*}
        catch(err) {
            alert(err);
        }*/
    }

    function downloadAndView()
    {
        var url = "http://rade134.github.io/IM-0239-0012.dcm";

        // prefix the url with wadouri: so cornerstone can find the image loader
        url = "wadouri:" + url;


        // image enable the dicomImage element and activate a few tools
        loadAndViewImage(url);
    }

    $(document).ready(function() {
        var element = $('#dicomImage').get(0);
        cornerstone.enable(element);
        downloadAndView();
        loadDocument();
    });


</script>
