<table class="table" style="width: 550px; text-align: left">
<tr>
<td>
<img src="http://i.imgur.com/QQHjgiY.png" width="15px" height="15px" /> Abdominal <span class="glyphicon glyphicon-menu-down"></span> 
<table style="margin-left: 50px">
<tr>
<td>
<img src="http://i.imgur.com/QQHjgiY.png" width="15px" height="15px" /> Gastrointestinal <span class="glyphicon glyphicon-menu-down"></span>
	<table style="margin-left: 50px">
	<tr>
	<td>
	<img src="http://i.imgur.com/QQHjgiY.png" width="15px" height="15px" /> Oesophagus <span class="glyphicon glyphicon-menu-right"></span> <br /> 
	<img src="http://i.imgur.com/DGY5DB2.png" width="15px" height="15px" /> Stomach <span class="glyphicon glyphicon-menu-right"></span> <br />
	<img src="http://i.imgur.com/DGY5DB2.png" width="15px" height="15px" /> Small bowel <span class="glyphicon glyphicon-menu-right"></span> <br />
	<img src="http://i.imgur.com/QQHjgiY.png" width="15px" height="15px" /> Large bowel <span class="glyphicon glyphicon-menu-right"></span> <br />
	<img src="http://i.imgur.com/DGY5DB2.png" width="15px" height="15px" /> Peritoneum/mesentery/abdominal wall <span class="glyphicon glyphicon-menu-right"></span> <br />
	</td>
	</tr>
	</table>
<img src="http://i.imgur.com/DGY5DB2.png" width="15px" height="15px" /> Hepatopancreatobiliary <span class="glyphicon glyphicon-menu-right"></span> <br />
<img src="http://i.imgur.com/QQHjgiY.png" width="15px" height="15px" /> Renal and urinary tract <span class="glyphicon glyphicon-menu-right"></span> <br />
<img src="http://i.imgur.com/DGY5DB2.png" width="15px" height="15px" /> Male reproductive system <span class="glyphicon glyphicon-menu-right"></span> <br />
<img src="http://i.imgur.com/QQHjgiY.png" width="15px" height="15px" /> Splenunculi/Haematological/Bone Marrow <span class="glyphicon glyphicon-menu-right"></span> <br />
<img src="http://i.imgur.com/DGY5DB2.png" width="15px" height="15px" /> Retroperitoneum <span class="glyphicon glyphicon-menu-right"></span> <br />
</td>
</tr>
</table>
</td>
</tr>
<tr>
<td>
<img src="http://i.imgur.com/DGY5DB2.png" width="15px" height="15px" /> Obstetrics and Gynaecology <span class="glyphicon glyphicon-menu-right"></span> 
</td>
</tr>
<tr>
<td>
<img src="http://i.imgur.com/QQHjgiY.png" width="15px" height="15px" /> Extracranial Head and Neck <span class="glyphicon glyphicon-menu-right"></span> 
</td>
</tr>
<tr>
<td>
<img src="http://i.imgur.com/DGY5DB2.png" width="15px" height="15px" /> Cardiothoracic <span class="glyphicon glyphicon-menu-right"></span> 
</td>
</tr>
<tr>
<td>
<img src="http://i.imgur.com/QQHjgiY.png" width="15px" height="15px" />  Paediatric <span class="glyphicon glyphicon-menu-right"></span> 
</td>
</tr>
<tr>
<td>
<img src="http://i.imgur.com/QQHjgiY.png" width="15px" height="15px" />  Vascular and Interventional Radiology <span class="glyphicon glyphicon-menu-right"></span> 
</td>
</tr>
<tr>
<td>
<img src="http://i.imgur.com/sYk8ovH.png" width="15px" height="15px" /> Breast <span class="glyphicon glyphicon-menu-right"></span> 
</td>
</tr>
<tr>
<td>
<img src="http://i.imgur.com/sYk8ovH.png" width="15px" height="15px" /> Musculoskeletal <span class="glyphicon glyphicon-menu-right"></span> 
</td>
</tr>
<tr>
<td>
<img src="http://i.imgur.com/QQHjgiY.png" width="15px" height="15px" /> Neuroradiology <span class="glyphicon glyphicon-menu-right"></span> 
</td>
</tr>
</table>
