<table class="table" style="width: 550px; height: 500px">
<tr>
<td style="width: 190px">
</td>
<td style="width: 110px">
Total reports
</td>
<td style="width: 130px">
Correct diagnoses
</td>
<td style="width: 120px">
Excellent reports
</td>
</tr>
<% @learner_level1s.each do |l| %>
<tr>
<td>
<%= link_to l.name, list_performances_path(:id => r.id) %>
</td>
<td>
<%= l.cases_attempted %>
</td>
<td>
<% if l.cases_attempted != 0 %>
<% @correct = (l.correct_dx/l.cases_attempted.to_f)*100.00 %>
<%= sprintf('%.2f', @correct) %>%
<% else %>
-
<% end %>
</td>
<td>
<% if l.excellent_cases != 0 %>
<% @excellent = (l.excellent_cases/l.cases_attempted.to_f)*100.00 %>
<%= sprintf('%.2f', @excellent) %>%
<% else %>
-
<% end %>
</td>
</tr>
<% end %>
</table>
