<table class="table" style="width: 550px; height: 500px">
<tr>
<td style="width: 190px">
</td>
<td style="width: 110px">
Total reports
</td>
<td style="width: 130px">
Correct diagnoses
</td>
<td style="width: 120px">
Good reports
</td>
</tr>
<tr>
<td>
1. Abdominal
</td>
<td>
412
</td>
<td>
321 (77.9%)
</td>
<td>
300 (72.8%)
</td>
</tr>
<tr>
<td>
2. Obstetrics and Gynaecology
</td>
<td>
391
</td>
<td>
360 (95.8%)
</td>
<td>
221 (69.0%)
</td>
</tr>
<tr>
<td>
3. Extracranial Head and Neck
</td>
<td>
450
</td>
<td>
260 (68.9%)
</td>
<td>
240 (65.8%)
</td>
</tr>
<tr>
<td>
4. Cardiothoracic
</td>
<td>
450
</td>
<td>
260 (68.9%)
</td>
<td>
240 (65.8%)
</td>
</tr>
<tr>
<td>
5. Paediatric
</td>
<td>
450
</td>
<td>
260 (68.9%)
</td>
<td>
240 (65.8%)
</td>
</tr>
<tr>
<td>
6. Vascular and Interventional Radiology
</td>
<td>
450
</td>
<td>
260 (68.9%)
</td>
<td>
240 (65.8%)
</td>
</tr>
<tr>
<td>
7. Breast
</td>
<td>
450
</td>
<td>
260 (68.9%)
</td>
<td>
240 (65.8%)
</td>
</tr>
<tr>
<td>
8. Musculoskeletal
</td>
<td>
450
</td>
<td>
260 (68.9%)
</td>
<td>
240 (65.8%)
</td>
</tr>
<tr>
<td>
9. Neuroradiology
</td>
<td>
450
</td>
<td>
260 (68.9%)
</td>
<td>
240 (65.8%)
</td>
</tr>
</table>
