<p>
</p>
<table id="reports" class="table" style="width: 600px">
<tr>
<td>
<h4 class="diagnosis"><span class="dx" style="align: left">1. Oesophageal carcinoma</span> <span class="percent" style="padding-left: 200px; color: red"><font color="red">32% correct</font></span></h4>
<span class = "view-reports" style="padding-left:30px">View reports</span> <span class="glyphicon glyphicon-menu-down"></span>  <span style="padding-left: 250px"> <span class="glyphicon glyphicon-plus"></span> Add to review list</span>
<div style="padding-left:60px; padding-top:5px">
<button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#modal-window">
    1
  </button>
<button class="btn btn-success btn-xs" data-toggle="modal" data-target="#modal-window">
    2
  </button>
<button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#modal-window">
    3
  </button>
<button class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modal-window">
    4
  </button>
<button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#modal-window">
    5
  </button>
</div>
</td>
</tr>
<tr>
<td>
<h4 class="diagnosis"><span class="dx" style="align: left">2. Multiple sclerosis</span> <span class="percent" style="padding-left: 200px; color: orange">52% correct</span></h4>
<span style="padding-left:30px">View reports</span> <span class="glyphicon glyphicon-menu-right"></span>  <span style="padding-left: 250px"> <span class="glyphicon glyphicon-plus"></span> Add to review list</span>
</td>
</tr>
<tr>
<td>
<h4 class="diagnosis"><span class="dx" style="align: left">3. Dermoid cyst</span> <span class="percent" style="padding-left: 200px; color: orange"><font color="orange">63% correct</font></span></h4>
<span style="padding-left:30px">View reports</span> <span class="glyphicon glyphicon-menu-right"></span>  <span style="padding-left: 250px"> <span class="glyphicon glyphicon-minus"></span> Remove from review list</span>
</td>
</tr>
<tr>
<td>
<h4 class="diagnosis"><span class="dx" style="align: left">4. Osteomyelitis</span> <span class="percent" style="padding-left: 200px; color: orange"><font color="orange">81% correct</font></span></h4>
<span style="padding-left:30px">View reports</span> <span class="glyphicon glyphicon-menu-right"></span>  <span style="padding-left: 250px"> <span class="glyphicon glyphicon-plus"></span> Add to review list</span>
</td>
</tr>
<tr>
<td>
<h4 class="diagnosis"><span class="dx" style="align: left">5. Fibroadenoma</span> <span class="percent" style="padding-left: 200px; color: orange"><font color="orange">84% correct</font></span></h4>
<span style="padding-left:30px">View reports</span> <span class="glyphicon glyphicon-menu-right"></span>  <span style="padding-left: 250px"> <span class="glyphicon glyphicon-minus"></span> Remove from review list</span>
</td>
</tr>
</table>
