<% content_for :for_head do %>
	<title>Performance Data</title>
	<!-- JQuery library must be loaded before Highcharts code for it to work-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="/index_files/customEvents.js"></script>
	<script>
$(function () {

    var chart = new Highcharts.Chart({ // Must replace the default first line of JSFiddle code with this to work

        chart: {
            polar: true,
            type: 'line',
	    renderTo: 'datachart' // Must also add this along with the first line change for the highcharts to work
        },

        title: {
            text: 'Body systems Syllabus',
            x: -80
        },

        pane: {
            size: '80%'
        },

        xAxis: {
            categories: ['Abdominal', 'Cardiothoracic', 'Extracranial Head and Neck', 'Neuroradiology', 'Musculoskeletal',
                    'Paediatric', 'Breast', 'Obstetrics and Gynaecology', 'Vascular and Interventional Radiology'],
            tickmarkPlacement: 'on',
            lineWidth: 0
        },

        yAxis: {
            gridLineInterpolation: 'polygon',
            lineWidth: 0,
	    labels: {
		enabled: false
	    },
            min: 0,
	    max: 1
        },

        tooltip: {
            shared: true,
            pointFormat: '<span style="color:{series.color}">{series.name}: <b>${point.y:,.0f}</b><br/>'
        },

        legend: {
            align: 'right',
            verticalAlign: 'top',
            y: 70,
            layout: 'vertical'
        },

	plotOptions: {
	    series: {
		fillOpacity: 1,
		marker: {
		    enabled: false, <!-- Hides the dot markers at the tip of each polygon -->
		    states: {
			hover: {
			    enabled: false <!-- Hides the dot markers on mouseover -->
			}
		    }
		},
		point: {
		    events: {
			click: function () {
			    location.href = this.options.url;
			}
		    }
		}
	    }
	},

        series: [{
	    <!-- useHTML: true, // Can use this to add hyperlinks to the names of the series-->
            name: 'Incorrect diagnoses',
            data: [{y: 1, drilldown: 'abdominal'}, 0.9, 0.7, 0.2, 0.5, 0.9, 0.8, 0.3, 0],
            pointPlacement: 'on',
	    type: 'area',
	    color: '#FF0000'
        }, {
            name: 'Incomplete',
            data: [0.7, 0.3, 0.3, 0.1, 0.4, 0.85, 0.6, 0.2, 0],
            pointPlacement: 'on',
	    type: 'area', <!-- Adds shading to the polygon -->
	    color: '#FFFF00'
        }, {
            name: 'Correct reports',
            data: [0.6, 0.2, 0.3, 0, 0.3, 0.7, 0.5, 0.1, 0],
            pointPlacement: 'on',
	    type: 'area', <!-- Adds shading to the polygon -->
	    color: '#00FF00'
        }],

	drilldown: {
	    allowPointDrilldown: false,
	    series: [{
		id: 'abdominal',
		data: [
		    ['Cats', 0.44],
		    ['Dogs', 0.22],
		    ['Cats', 0.34],
		    ['Dogs', 0.1],
		    ['Cats', 0.9],
		    ['Dogs', 0.8],
		    ['Dogs', 0.1],
		    ['Cats', 0.9],
		    ['Dogs', 0.8]
		]
	    }]
	}

    });
});
</script>

	<!-- <script src="/index_files/chart.js"></script> -->

<% end %>


<!-- <div style="max-width: 1400px; position: absolute; bottom: 40%; left: 0; right: 0; margin: auto; max-height: 100%; height: auto;" >
</div> -->
<div id="datachart" style="width: 800px; height: 500px; margin: 0 auto"></div>



