<% content_for :for_head do %>
	<title>Performance Data</title>
<style>

#mainpage {
	width: 1200px;
	margin: 0 auto;
}

#reports {
	width: 600px;
	text-align: left;
	align: center;
}
</style>

	<!-- <script src="/index_files/chart.js"></script> -->

<% end %>
	<!-- JQuery library must be loaded before Highcharts code for it to work-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="/index_files/customEvents.js"></script>

<!-- <div style="max-width: 1400px; position: absolute; bottom: 40%; left: 0; right: 0; margin: auto; max-height: 100%; height: auto;" >
</div> -->

<div class = style="align: center; width: 100%; margin: 0 auto">
<%= render "nav" %>
<%= render "missedDx" %>
</div>
<p></p>





