<!-- Append content in the head tag -->
<% content_for :for_head do %>
	<title>Report review</title>
	<link href="/index_files/cornerstone.min.css" rel="stylesheet">
<% end %>

<!-- include the cornerstone library -->
<script src="/index_files/cornerstone.min.js"></script>
<script src="/index_files/cornerstoneMath.js"></script>
<script src="/index_files/cornerstoneTools.js"></script>
	<script>
		$("#modal-window").html("<%= escape_javascript(render 'performances/report' %>");
	</script>

<!-- include the dicomParser library as the WADO image loader depends on it -->
<script src="/index_files/dicomParser.min.js"></script>

<!-- jpeg 2000 codec -->
<script src="/index_files/jpx.min.js"></script>

<!-- include the cornerstoneWADOImageLoader library -->
<script src="/index_files/cornerstoneWADOImageLoader.js"></script>

<div class="container">

        <div class="row">
                <div class="col-md-6">
                        <div id="dicomImage" style="width:512px;height:512px;top:0px;left:0px; position:relative"></div>
                </div>
			
                <div class="col-md-6">

			A report is here
                </div>
        </div>

</div>

<script>
	cornerstoneWADOImageLoader.configure({
        	beforeSend: function(xhr) {
            		// Add custom headers here (e.g. auth tokens)
            		//xhr.setRequestHeader('x-auth-token', 'my auth token');
        	}
   	});
	var loaded = false;
    function loadAndViewImage(imageId) {
        var element = $('#dicomImage').get(0);
        //try {
            cornerstone.loadImage(imageId).then(function(image) {
                console.log(image);
                var viewport = cornerstone.getDefaultViewportForImage(element, image);
                $('#toggleModalityLUT').attr("checked",viewport.modalityLUT !== undefined);
                $('#toggleVOILUT').attr("checked",viewport.voiLUT !== undefined);
                cornerstone.displayImage(element, image, viewport);
                if(loaded === false) {
                    cornerstoneTools.mouseInput.enable(element);
                    cornerstoneTools.mouseWheelInput.enable(element);
                    cornerstoneTools.wwwc.activate(element, 1); // ww/wc is the default tool for left mouse button
                    cornerstoneTools.pan.activate(element, 2); // pan is the default tool for middle mouse button
                    cornerstoneTools.zoom.activate(element, 4); // zoom is the default tool for right mouse button
                    cornerstoneTools.zoomWheel.activate(element); // zoom is the default tool for middle mouse wheel
                    loaded = true;
                }
            }, function(err) {
                alert(err);
            });
        /*}
        catch(err) {
            alert(err);
        }*/
    }

    function downloadAndView()
    {
        var url = "http://rade134.github.io/IM-0239-0012.dcm";

        // prefix the url with wadouri: so cornerstone can find the image loader
        url = "wadouri:" + url;


        // image enable the dicomImage element and activate a few tools
        loadAndViewImage(url);
    }
    function showValue(num) {
        var result = document.getElementById('resultOfBar');
	result.value = num;
    }
    $(document).ready(function() {
        var element = $('#dicomImage').get(0);
        cornerstone.enable(element);
        downloadAndView();
        //loadDocument();
	$(".correction2-text").toggle();
	$(".show-hide-button").click(function(){
		$(".correction2-text").toggle();
		buttonToggle = $(".show-hide-button");
		if (buttonToggle.innerHTML != "Hide"){
			buttonToggle.innerHTML = "Hide";
		}else{
			buttonToggle.innerHTML = "Show";
		}
	});
	var slider = new Slider("#threshold",{
		formatter: function(value) {
			return 'Current value'+value;
		}
	});
    });


</script>
