<% content_for :for_head do %>
	<title>Performance Data</title>

	
<style>

#mainpage {
	width: 1500px;
	margin: 0 auto;
}

#reports {
	width: 600px;
	text-align: left;
	align: center;
}
</style>

	<!-- <script src="/index_files/chart.js"></script> -->

<% end %>
	<!-- JQuery library must be loaded before Highcharts code for it to work-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="/index_files/customEvents.js"></script>
	<script>
$(function () {

    var chart = new Highcharts.Chart({ // Must replace the default first line of JSFiddle code with this to work

        chart: {
            type: 'bar',
	    renderTo: 'datachart' // Must also add this along with the first line change for the highcharts to work
        },

        title: {
            text: 'Body systems Syllabus',
            x: -80
        },

        pane: {
            size: '80%'
        },

        xAxis: {
            type: 'category',
            tickmarkPlacement: 'on',
            lineWidth: 0
        },

        yAxis: {
            lineWidth: 0,
	    labels: {
		enabled: true
	    },
            min: 0,
	    max: 1
        },

        tooltip: {
            shared: true,
            pointFormat: '<span style="color:{series.color}">{series.name}: <b>${point.y:,.0f}</b><br/>'
        },

        legend: {
            align: 'right',
            verticalAlign: 'top',
            y: 70,
            layout: 'vertical'
        },

	plotOptions: {
	    series: {
		stacking: 'normal',
		fillOpacity: 1,

	    }
	},

        series: [{
	    <!-- useHTML: true, // Can use this to add hyperlinks to the names of the series-->
            name: 'Incorrect diagnoses',
            data: [{
		name: 'Abdominal',
		y: 0.1,
		drilldown: 'abdominal',
		topDx: ['Oesophageal carcinoma', 'Leukaemia', 'Acute tubular necrosis']
	    }, {
		name: 'Cardiothoracic',
		y: 0.2,
		drilldown: 'cardiothoracic'
	    }, {
		name: 'Extracranial Head and Neck',
		y: 0.1,
		drilldown: 'ent'
	    }, {
		name: 'Neuroradiology',
		y: 0.2,
		drilldown: 'neuroradiology'
	    }, {
		name: 'Musculoskeletal',
		y: 0.2,
		drilldown: 'musculoskeletal'
	    }, {
		name: 'Paediatric',
		y: 0.1,
		drilldown: 'paediatric'
	    }, {
		name: 'Breast',
		y: 0.4,
		drilldown: 'breast'
	    }, {
		name: 'Obstetrics and Gynaecology',
		y: 0.1,
		drilldown: 'obsgynae'
	    }, {
		name: 'Vascular and Interventional Radiology',
		y: 0,
		drilldown: 'vascular'
	    }],
	    color: '#FF0000'
        }, {
            name: 'Incomplete',
            data: [0.1, 0.2, 0.2, 0.1, 0.4, 0.1, 0, 0.2, 0],
	    color: '#FFFF00'
        }, {
            name: 'Correct reports',
            data: [0.6, 0.3, 0.34, 0, 0.1, 0.3, 0.2, 0.5, 0.3],
	    color: '#00FF00'
        }],

	drilldown: {
	    allowPointDrilldown: false,
	    series: [{
		id: 'abdominal',
		data: [{
			name: 'Gastrointestinal',
			y: 0.9,
			drilldown: 'git'
		    },
		    ['Hepatopancreatobiliary', 0.22],
		    ['Renal and urinary tract', 0.34],
		    ['Male reproductive system', 0.1],
		    ['Splenunculi/Haematological/Bone Marrow', 0.9],
		    ['Retroperitoneum', 0.8]
		],
                pointPlacement: 'on',
	        type: 'area',
	        color: '#FF0000'
	    }, {
		id: 'cardiothoracic',
		data: [
		    ['Air space', 0.24],
		    ['Airways', 0.12],
		    ['Interstitial', 0.14],
		    ['Mediastinum', 0],
		    ['Carcinoma and nodules', 0.5],
		    ['Pleura', 0.3],
		    ['Hyperinflation and cysts', 0.9],
		    ['Heart and pericardium', 0.6],
		    ['Vessels', 0.4],
		    ['Chest Wall', 0.3],
		    ['Trauma and ICU', 0.6]
		],
                pointPlacement: 'on',
	        type: 'area',
	        color: '#00FF00'
	    }, {
		id: 'git',
		data: [{
		        name: 'Oesophagus',
		        y: 0.24,
			drilldown: 'oesophagus'
		    },
		    ['Stomach', 0.12],
		    ['Small Bowel', 0.14],
		    ['Large Bowel', 0],
		    ['Peritoneum/Mesentery/Abdominal Wall', 0.5]
		],
                pointPlacement: 'on',
	        type: 'area',
	        color: '#00FF00'
	    }, {
		id: 'oesophagus',
		data: [
		    ['Carcinoma', 0.24],
		    ['Trauma (tear and rupture)', 0.12],
		    ['Reflux oesophagitis and hiatus hernia', 0.14],
		    ['Pharyngeal pouch', 0],
		    ['Oesophageal web', 0.5],
		    ['Oesophageal varices', 0.5],
		    ['Cricopharyngeal spasm', 0.5],
		    ['Motility disorders', 0.5],
		    ['Achalasia', 0.5],
		    ['Other oesophagitis', 0.5],
		    ['Diverticula', 0.5],
		    ['Schatzki ring', 0.5]
		],
                pointPlacement: 'on',
	        type: 'area',
	        color: '#00FF00'
	    }]
	}

    <!-- Change diagnoses when clicked-->
    }, function(chart) {
	$(".highcharts-xaxis-labels text").click(function() {
	    var diagnoses = ['1', '2', '3']
	    var dxText = document.getElementsByClassName("diagnosis");
	    var i;
	    console.log(diagnoses);
	    for (i=0;i<dxText.length;i++) {
	    	dxText[i].innerHTML = diagnoses[i];
	    }
	});
    });
});

</script>

<!-- <div style="max-width: 1400px; position: absolute; bottom: 40%; left: 0; right: 0; margin: auto; max-height: 100%; height: auto;" >
</div> -->
<table id="mainpage">
<tr>
<td>
<p></p>
<div class = style="align: center; width: 100%; margin: 0 auto">
<%= link_to "Radar", radar_performances_path, class: "btn btn-default btn-sm" %>
<%= link_to "Skill meters", skillmeters_performances_path, class: "btn btn-primary btn-sm" %> 
<button class="btn btn-default btn-sm">List</button> 
</div>
<p></p>
<div id="datachart" style="width: 800px; height: 500px; margin: 0 auto"></div>
</td>
<td>
<p></p>
<button class="btn btn-primary btn-sm">Top missed diagnoses</button> <button class="btn btn-default btn-sm">Report history</button> <button class="btn btn-default btn-sm">Progress</button> 
<div id="reportdata" style="width: 600px; height: 500px; margin: 0 auto">
<h3>Top missed diagnoses</h3>
<table id="reports" class="table" style="width: 600px">
<tr>
<td>
<h4 class="diagnosis"><span class="dx" style="align: left">1. Oesophageal carcinoma</span> <span class="percent" style="padding-left: 200px"><font color="red">32% correct</font></span></h4>
<span style="padding-left:30px">View reports</span> <span class="glyphicon glyphicon-menu-down"></span>  <span style="padding-left: 250px"> <span class="glyphicon glyphicon-plus"></span> Add to review list</span>
<div style="padding-left:60px; padding-top:5px">
<button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#modal-window">
    1
  </button>
<button class="btn btn-success btn-xs" data-toggle="modal" data-target="#modal-window">
    2
  </button>
<button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#modal-window">
    3
  </button>
<button class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modal-window">
    4
  </button>
<button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#modal-window">
    5
  </button>
</div>
</td>
</tr>
<tr>
<td>
<h4 class="diagnosis">2. Multiple sclerosis</h4>
<h4><font color="orange">52% correct</font></h4>
View reports: 1 2 3 4 5
</td>
</tr>
<tr>
<td>
<h4 class="diagnosis">3. Dermoid cyst</h4>
<h4><font color="red">63% correct</font></h4>
View reports: 1 2 3 4 5
</td>
</tr>
</table>

</div>
</td>
</tr>
</table>


  <!-- Modal -->
  <div class="modal fade" id="modal-window" width="1000" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="thing">Report review</h4>
        </div>
        <div class="modal-body">
          <table><tr>
	<td width="300">
	IMAGE HERE
	</td>
	<td>
<h4>Report corrections</h4>
CT ABDOMEN & PELVIS - PLAIN L3  CLINICAL: SECOND EPISODE OF RENAL COLIC.  NON CONTRAST CT OF THE RENAL TRACT HAS BEEN PERFORMED. MILD RIGHT SIDED HYDRONEPHROSIS EXTENDING DOWN TO AND OBSTRUCTING CALCULUS AT SOME 4 TO 5CM PROXIMAL TO THE RIGHT VUJ AND IS APPROXIMATELY 5MM IN LENGTH. RETICULATION CAN BE SEEN OF THE RIGHT PERINEPHRIC SPACE  EXTENDING INFERIORLY TO THE L4/5 LEVEL. THIS MOST LIKELY REPRESENTS FLUID IN THE RIGHT PERINEPHRIC SPACE. SMALL FOCI OF CALCIFICATION CAN BE SEEN IN THE RIGHT MID POLE, RIGHT LOWER POLE AND LEFT LOWER POLE. BOTH KIDNEYS ARE IRREGULAR IN OUTLINE. PREVIOUS CHOLECYSTECTOMY IS NOTED.  COMMENT: 5MM OBSTRUCTING CALCULUS AT THE RIGHT PELVIC URETER RESULTING IN MILD RIGHT HYDRONEPHROSIS.
	</td></tr></table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


