  Level 1: 
<select name="Level 1" id="level1">
    <option></option>
    <% @dxlevel1s.each do |d1| %>
    <option><%= d1.name %></option>
    <% end %>
</select>
<select name="Level 2" class="level2">
<option></option>

</select>
