<%= link_to problems_path do %>
<span class="back"><span class="glyphicon glyphicon-triangle-left"></span>  Back to Problem Selection index</span>
<% end %>
<p></p>
<%= link_to "View review list", review_list_problems_path, class: "btn btn-default btn-sm" %> <%= link_to "Add diagnoses to review list", review_list_add_problems_path, class: "btn btn-default btn-sm" %> <%= link_to "Remove diagnoses from review list", review_list_remove_problems_path, class: "btn btn-default btn-sm" %> 
