<!-- Append content in the head tag -->
<% content_for :for_head do %>
	<title>Review list</title>
<% end %>


<%= render "nav" %>
<p></p>
<h2>Review list</h2>
<% if @ldx.present? %>
<% end %>
<table class="table">
<% @ldx.each do |l| %>
<tr><td><%= l.name %></td><td>A</td></tr>
<% end %>
<% if !@ldx.present? %>
<tr><td><p>Your review list is empty.</p><p> <%= link_to "Click here", review_list_add_problems_path %> to add some diagnoses to your review list.</p></td></tr>
<% end %>
</table>

