<!-- Append content in the head tag -->
<% content_for :for_head do %>
	<title>Case selection</title>
<% end %>

<div style="max-width: 1400px; position: absolute; left: 0; right: 0; margin: auto; max-height: 100%; height: auto;" >
<%= link_to problems_path do %>
<span class="back"><span class="glyphicon glyphicon-triangle-left"></span>  Back to Problem Selection index</span>
<% end %>
<div>
Review list
</div>
</div>
